/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
body {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 100px 0;
}
section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  padding: 0 10px;
  font-size: 1.2em;
}

.blackheader {
  width: 2000px;
  right: 0px;
  height: 59px;
  background-color: black;
  margin: 0px;
  position: absolute;
  top: 0px;
  justify-content: center;
  z-index: -1;
}
.buttonBlackHeader {
  min-width: 5rem;
  height: 2rem;
  border: none;
  border-radius: 2rem;
  font-family: "Syne";
  background-color: white;
  margin-left: 1rem;
  margin-bottom: 2rem;
  color: black;
  display: flex;
  align-items: center;
  position: absolute;
  top: 15px;
  right: 600px;
  z-index: -1;
}
.penBlackHeader {
  position: absolute;
  top: 24px;
  right: 830px;
  color: white;
  font-family: "Syne";
}
.faPenBlackHeader {
  position: absolute;
  top: 30px;
  right: 940px;
}

.modale {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.08);
  z-index: 2;
}

.modale-push {
  display: none; /* Masque la modale par défaut */
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.08);
  z-index: 2;
}
.modale-wrapper {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 530px;
  height: 630px;
  padding: 30px;
  border-radius: 10px;
  max-width: calc(100vw - 20px);
  max-height: calc(100vh - 20px);
  overflow: auto;
  align-items: center;
  z-index: 2;
}
.modale-ajout {
  position: absolute;
  top: 50%; /* Centrer verticalement */
  left: 50%; /* Centrer horizontalement */
  transform: translate(-50%, -50%); /* Ajustement pour centrer correctement */
  background-color: white;
  border-radius: 10px;
  padding: 30px;
  max-width: calc(100vw - 20px);
  max-height: calc(100vh - 20px);
  overflow: auto;
  z-index: 3; /* La modale "modale-ajout" est au-dessus de "modale-push" */
  width: 530px;
  height: 570px;
}
.modaleAjoutHeader {
  display: flex;
  justify-content: space-between;
}
.escapeModale2 {
  text-decoration: none;
}
.h2modale {
  color: black;
  font-family: "Syne";
  font-size: 1.5em;
  padding-top: 10px;
  margin-top: 20px;
}
.faModale {
  position: absolute;
  top: 650px;
  right: 640px;
  color: black;
  z-index: -1;
}
.modaleGalerie {
  padding-left: 40px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
  padding-top: 20px;
}
.ajout-photo {
  width: 420px;
  height: 189px;
  background: rgba(232, 241, 246, 1);
  margin-left: 55px;
}
/* Styles pour l'image sélectionnée */
.image-container {
  width: 129px;
  height: 169px;
  margin: auto;
  position: relative;
  bottom: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* Pour masquer toute partie de l'image dépassant de la div */
  overflow: hidden;
  z-index: 1;
}

.image-container img {
  width: 100%;
  height: 100%;
  /* Ajuster la taille de l'image pour remplir complètement le conteneur */
  object-fit: cover;
}

.labelAjoutPhoto {
  display: flex;
  flex-direction: column;
  font-family: work sans;
  font-size: 14px;
  padding-left: 55px;
  gap: 10px;
  padding-top: 30px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}

.labelModalePush {
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
  border: none;
  width: 420px;
  height: 51px;
  background: rgba(255, 255, 255, 1);
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 10px;
 
}
.buttonAjouter {
  width: 173px;
  height: 36px;
  border-radius: 50px;
  position: absolute;
  margin-left: 130px;
  top: 230px;
  border: none;
  background-color: rgb(222, 220, 220);
  color: rgb(4, 88, 157);
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  z-index: 2;
}
.buttonValider {
  width: 237px;
  height: 36px;
  border-radius: 50px;
  margin-left: 105px;
  margin-top: 90px;
  border: none;
  font-family: Syne;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  background: rgba(167, 167, 167, 1);
  color: rgba(255, 255, 255, 1);
}
.faMountain {
  position: absolute;
  top: 135px;
  right: 250px;
  width: 58px;
  height: 58px;
  font-size: 4em;
}
.infosPhoto {
  font-family: Work Sans;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: center;
}
/* Styles pour la galerie modale */
#modaleGalerie {
  display: flex;
  flex-wrap: wrap;
}

/* Styles pour chaque projet dans la galerie modale */
#modaleGalerie figure {
  position: relative;
  margin: 8px;
}

/* Styles pour les images dans la galerie modale */
#modaleGalerie img {
  width: 77px;
  height: 102px;
}

.borderModale {
  border: 1px solid #b3b3b3;
  width: 420px;
  margin-top: 30px;
}
.buttonModale {
  width: 236px;
  height: 36px;
  margin-top: 40px;
}
.SuppModale {
  font-size: 0.8em;
  font-family: "Syne";
  color: red;
}
.escapeModale {
  font-family: "Syne";
  font-weight: 700;
  position: absolute;
  right: 520px;
  width: 24px;
  height: 24px;
  text-align: center;
  margin: 5px;
  font-weight: 300;
  font-size: 1em;
  text-decoration: none;
}
.escapeModale:hover {
  scale: 1.15;
}
.pmodale {
  font-size: 1em;
  font-family: "Syne";
  position: absolute;
  color: black;
  right: 500px;
  top: 647px;
  z-index: -1;
}
.divmodale {
  top: 645px;
  right: 540px;
  width: 90px;
  height: 36px;
  position: absolute;
  text-decoration: none;
  color: black;
  font-size: 1em;
  font-family: "Syne";
  z-index: 0;
}

.h1 {
  width: 100%;
}
.modified {
  display: flex;
  flex-direction: row;
  text-align: center;
}
.liheader {
  padding: 0 10px;
  font-size: 2em;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  color: black;
}
.liheader:hover {
  color: #b1663c;
}
li:hover {
  color: #b1663c;
}
.navfooter {
  padding: 0 10px;
  font-size: 1.5em;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  color: black;
}
.navfooter:hover {
  color: #b1663c;
}
#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}
#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
}

.buttons {
  display: flex;
  justify-content: center;
}

button {
  min-width: 5rem;
  height: 2rem;
  border-radius: 2rem;
  font-family: "Syne";
  border: #1d6154 solid 2px;
  margin-left: 1rem;
  margin-bottom: 2rem;
  color: #1d6154;
}
button:hover {
  background-color: #1d6154;
  color: white;
  cursor: pointer;
}

.filter {
  font-size: 16px;
  font-weight: 700;
  color: #1d6154;
  border: 1px solid #1d6154;
  border-radius: 60px;
  padding: 9px 20px;
  cursor: pointer;
}

.filter__selected {
  color: white;
  background-color: #1d6154;
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
}
#contact {
  width: 50%;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
  margin-bottom: 5px;
}
